name: CI Build & Push Docker

on:
  push:
    paths:
      - 'Workflow-CI/**'
  workflow_dispatch:

env:
  MLFLOW_TRACKING_URI: https://dagshub.com/nessaayusafitri2219/Eksperimen_SML_Nessa-ayu-safitri.mlflow
  MLFLOW_TRACKING_USERNAME: nessaayusafitri2219
  MLFLOW_TRACKING_PASSWORD: ${{ secrets.DAGSHUB_TOKEN }}
  DAGSHUB_USER_TOKEN: ${{ secrets.DAGSHUB_TOKEN }}

jobs:
  docker-build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'

      - name: Install MLflow & Dependencies
        run: pip install mlflow dagshub pandas scikit-learn

      - name: Train & Get Run ID
        id: train
        run: |
          # Jalankan script modelling khusus CI (yang ringan dan menyimpan run_id.txt)
          python Workflow-CI/MLProject/modelling.py
          
          # Cek apakah file run_id.txt berhasil dibuat oleh script python
          if [ -f run_id.txt ]; then
            echo "Run ID ditemukan: $(cat run_id.txt)"
          else
            echo "Error: File run_id.txt tidak ditemukan. Pastikan script python menyimpannya."
            exit 1
          fi

      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build and Push Docker
        run: |
          # 1. Ambil Run ID dari file
          RUN_ID=$(cat run_id.txt)
          
          # 2. Tentukan Nama Image (Format: username/repository)
          IMAGE_NAME="${{ secrets.DOCKER_USERNAME }}/walmart-model"
          
          echo "Building Docker Image untuk Run ID: $RUN_ID"
          
          # 3. Build Docker Image menggunakan MLflow
          # --enable-mlserver: Mengaktifkan server inferensi siap pakai
          mlflow models build-docker \
            -m "runs:/$RUN_ID/model" \
            -n "$IMAGE_NAME:latest" \
            --enable-mlserver
          
          # 4. Push ke Docker Hub
          echo "Pushing image to Docker Hub..."
          docker push "$IMAGE_NAME:latest"
          
          # Opsional: Tag juga dengan Run ID agar punya history versi
          docker tag "$IMAGE_NAME:latest" "$IMAGE_NAME:$RUN_ID"
          docker push "$IMAGE_NAME:$RUN_ID"
