name: CI Build & Push Docker

on:
  push:
    paths:
      - 'Workflow-CI/**'
  workflow_dispatch:

env:
  MLFLOW_TRACKING_URI: https://dagshub.com/nessaayusafitri2219/Eksperimen_SML_Nessa-ayu-safitri.mlflow
  MLFLOW_TRACKING_USERNAME: nessaayusafitri2219
  MLFLOW_TRACKING_PASSWORD: ${{ secrets.DAGSHUB_TOKEN }}
  DAGSHUB_USER_TOKEN: ${{ secrets.DAGSHUB_TOKEN }}

jobs:
  docker-build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'

      # Instalasi versi stabil & downgrade urllib3 untuk menghindari error SSL
      - name: Install Dependencies
        run: pip install mlflow==2.7 dagshub pandas scikit-learn --quiet

      # 1. Jalankan Training (Akan mengupload model & membuat run_id.txt)
      - name: Train & Get Run ID
        run: |
          python Workflow-CI/MLProject/modelling.py
          
          # Cek keberadaan file
          if [ -f run_id.txt ]; then
             echo "Run ID ditemukan: $(cat run_id.txt)"
          else
             echo "Error: run_id.txt GAGAL dibuat."
             exit 1
          fi

      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      # 2. Build Docker Menggunakan Run ID (Download dari DagsHub)
      - name: Build and Push Docker
        run: |
          RUN_ID=$(cat run_id.txt)
          IMAGE_NAME="${{ secrets.DOCKER_USERNAME }}/walmart-model"
          
          echo "Building Docker Image dari DagsHub Run ID: $RUN_ID"
          
          # Format URI: runs:/<run_id>/model
          mlflow models build-docker \
            -m "runs:/$RUN_ID/model" \
            -n "$IMAGE_NAME:latest" \
            --enable-mlserver
          
          echo "Pushing to Docker Hub..."
          docker push "$IMAGE_NAME:latest"
