name: CI Build & Push Docker

on:
  push:
    paths:
      - 'Workflow-CI/**'
  workflow_dispatch:

env:
  MLFLOW_TRACKING_URI: https://dagshub.com/nessaayusafitri2219/Eksperimen_SML_Nessa-ayu-safitri.mlflow
  MLFLOW_TRACKING_USERNAME: nessaayusafitri2219
  MLFLOW_TRACKING_PASSWORD: ${{ secrets.DAGSHUB_TOKEN }}
  DAGSHUB_USER_TOKEN: ${{ secrets.DAGSHUB_TOKEN }}

jobs:
  docker-build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'

      # Gunakan versi stabil
      - name: Install Dependencies
        run: pip install mlflow==2.14.1 dagshub pandas scikit-learn

      # 1. Train Model & Simpan ke Folder Lokal 'model_output'
      - name: Train Model
        run: python Workflow-CI/MLProject/modelling.py

      # 2. (Opsional) Simpan Model ke GitHub Artifacts
      # Ini akan menyimpan file model di tab "Actions" GitHub Anda (Bukan di Repo/Code)
      # Sangat aman dan tidak membuat repo bengkak.
      - name: Upload Model to GitHub Artifacts
        uses: actions/upload-artifact@v3
        with:
          name: trained-model
          path: model_output/

      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      # 3. Build Docker dari Folder Lokal
      - name: Build and Push Docker
        run: |
          IMAGE_NAME="${{ secrets.DOCKER_USERNAME }}/walmart-model"
          echo "Building Docker Image dari folder lokal..."
          
          # PERHATIKAN: -m "model_output" merujuk ke folder lokal
          # Bukan runs:/... lagi. Ini JAUH lebih cepat dan stabil.
          mlflow models build-docker \
            -m "model_output" \
            -n "$IMAGE_NAME:latest" \
            --enable-mlserver
          
          echo "Pushing to Docker Hub..."
          docker push "$IMAGE_NAME:latest"
